<div class="login-container">
  <div class="login-card">
    <form [formGroup]="login" (ngSubmit)="onSubmit()">
      <h2 class="login-title">Acesso ao Sistema</h2>

      <label for="email">E-mail institucional:</label>
      <input id="email" formControlName="email" type="email" placeholder="seu.nome@unesp.br" />
      @if (login.get('email')?.invalid && login.get('email')?.touched) {
        <div class="error">
          É necessário o e-mail institucional.
        </div>
      }

      <label for="password">Senha:</label>
      <input id="password" formControlName="password" type="password" placeholder="Sua senha" />
      @if (login.get('password')?.invalid && login.get('password')?.touched) {
        <div class="error">
          Senha obrigatória.
        </div>
      }

      <button type="submit" [disabled]="!login.valid" class="fancy-btn">Entrar</button>
    </form>
  </div>
</div>