.outer {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 300px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.outer_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 550px;
  margin-bottom: 20px;
  background-color: #B1DAFB;
}
